* {
    padding: 0;
    margin: 0;
}
canvas {
    background: #eeeeee;
    display: block;
    margin: 0 auto;
}
button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
}